
@{
    ViewBag.Title = "Index";
}

<h2>Index view of the data controller</h2>

<!--<h2>@ViewBag.data</h2>-->

@* here we do not use binding *@

<!--@foreach (var item in Model)
{
    <p>@item</p>
}

<hr />

<p>@ViewBag.data1</p>
<p>@ViewData["data2"]</p>-->

@foreach(var s in Model)
            {
                <p>@s</p>
            }

