@using HTML_HELPER_PRJ.Custom_Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Static Custom Helpers</h2>

<p>
    @CustomStaticHelper.LabelwithMark("This is an Example for static Custom Helpers")
</p>
<br />
<hr />
<h2>Extension Helper</h2>
<p>
    @Html.GreenLabel("This is as Green Label Extension Custom Helper")
    @Html.RedLabel("This is as Red Label Extension Custom Helper")
</p>
<br />
<h2>Inline Helpers</h2>
<!--Declaration of inline helper-->
@helper LabelWithRazor(string content) 
{
    <label><strong><sup></sup>@content</strong></label>

}

<!--Calling the inline helper-->
<p>
    @LabelWithRazor("This is an Example of Inline Html Helper using razor")
</p>
