@model IEnumerable<MVC_CODE_FIRST.Models.Movie>
@{
    ViewBag.Title = "Movies by Year";
}
<h2>@ViewBag.Title (@ViewBag.Year)</h2>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Director</th>
                <th>Date of Release</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.MovieName</td>
                    <td>@m.DirectorName</td>
                    <td>@m.DateOfRelease.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No movies found for year @ViewBag.Year.</p>
}
@Html.ActionLink("Go on edit", "Edit", null, new { @class = "btn btn-default" })
<br />
@Html.ActionLink("Go on Delete", "DeleteConfirmed", null, new { @class = "btn btn-default" })
<br />
@Html.ActionLink("Go on Create", "Create", null, new { @class = "btn btn-default" })
<br />
@Html.ActionLink("Access By Director", "ByDirector", null, new { @class = "btn btn-default" })